* {
    border: 0;
    margin: 0;

    /*outline: solid lime 1px;*/

    font-family:Arial, Helvetica, sans-serif
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin-top: 20px;
    max-width: 30rem;
    min-width: 23rem;
}

td {
    border: solid black 1px
}

td:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#select-apply {
    margin : 1em;
    font-size: x-large;
    padding : 0.3em;

    border-radius: 10px;
}

input[type='checkbox'] {
    aspect-ratio: 1;
    width: 1.6em;
    margin: 0.2em;
}

#fitting-display {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.ship-display {
    padding: 0.3em;
    border-radius: 0.2em;
    margin: 1em;
    border: solid 2px grey;
    background: #aaa9a9;
}