* {
    border: 0;
    margin: 0;

    /*outline: solid lime 1px;*/

    font-family:Arial, Helvetica, sans-serif;
    color: var(--light-teal);

    --bg : #212121;
    --light-bg : #323232;
    --dark-teal : #0d7377;
    --darker-teal : #074244;
    --light-teal : #14ffec;


}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg);
}

a {
    color: #39ff14
}

p {
    margin: 15px;
}

table {
    margin-top: 20px;
    width: 23rem;
}

td {
    border: solid var(--dark-teal) 1px
}

td:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#select-apply {
    margin : 1em;
    font-size: x-large;
    padding : 0.3em;
    background: var(--dark-teal);
    border-radius: 10px;
    transition: all ease-in 100ms;
}

#select-apply:hover {
    filter: brightness(85%);
} 

input[type='checkbox'] {
    aspect-ratio: 1;
    width: 1.6em;
    margin: 0.2em;
}

select {
    background: var(--light-bg);
}

#fitting-display {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.ship-display {
    display: flex;
    justify-content: space-between;
    padding: 0.3em 1.5em;
    border-radius: 100vmax;
    margin: 1em;
    background: var(--light-bg);
    width: 18em;
    font-weight: bold;
    box-shadow: 0 0 0 #00000065;
    transition: all cubic-bezier(0.37, 1.11, 0.51, 1) 300ms;
}

.ship-display:hover {
    background: var(--darker-teal);
    box-shadow: 0 7px #00000065;
    transform: translateY(-7px);
}



.ship-icon {
    aspect-ratio: 32/32;
    height: 3em;
    margin: 0.2em;
    border-radius: 10%;
}

.display-name {
    font-size: large;
}

.display-percentage {
    color: #39ff14
}

.display-weight {
    color: #ff5d5d
}